# 공통
# 이 파일을 복사해서 .env 로 저장하고 값을 채워주세요.
# cp .env.example .env

db_host=
db_username=
db_password=

smtp_username=
smtp_password=

email_sender=

jwt_secret=

cloudinary_api_key=
cloudinary_api_secret=

kakao_pay_secret_key=
toss_pay_secret_key=