<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.finalProject.mapper.MemberMapper">

    <!-- 
    
    private String userId; // 기본키 (PK)
    private String userEnpswd; // 암호화된 비번
    private String userName; // 사용자명
    private String userEnrrno; // AES-256 암호화 필수
    private String userGndrCd; // M:남성 F:여성 U:미확인
    private LocalDate userBrdt;
    private LocalDateTime joinDt; // 가입 시각
    private String userTelno; // (9)99-(9)999-9999 형식
    private String userEmailAddr;
    private String userZip;
    private String userAddr;
    private String userDaddr;
    private String userProfile; // 이미지 URL/경로
    private LocalDateTime regDate; // 데이터 생성 시점
    private LocalDateTime modDate; // 데이터 수정 시점
    private String enable;

    -->

    <resultMap id="memberTestResultMap" type="kr.or.ddit.finalProject.dto.member.MemberDto">
        <id property="userId" column="USER_ID"/>
        <result property="userEnpswd" column="USER_ENPSWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userEnrrno" column="USER_ENRRNO"/>
        <result property="userGndrCd" column="USER_GNDR_CD"/>
        <result property="userBrdt" column="USER_BRDT"/>
        <result property="joinDt" column="JOIN_DT"/>
        <result property="userTelno" column="USER_TELNO"/>
        <result property="userEmailAddr" column="USER_EMAIL_ADDR"/>
        <result property="userZip" column="USER_ZIP"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="userDaddr" column="USER_DADDR"/>
        <result property="userProfile" column="USER_PROFILE"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="modDate" column="MOD_DATE"/>
        <result property="enable" column="ENABLE"/>
        <result property="userRole" column="USER_ROLE"/>

    </resultMap>




    <select id="findByUserId" parameterType="string" resultMap="memberTestResultMap">
        SELECT
            m.*
        FROM MEMBER m
        WHERE m.USER_ID = #{userId}
    </select>
    <select id="findAdminByUserId" parameterType="string" resultType="kr.or.ddit.finalProject.dto.member.AdminMemberDto">
        SELECT
            m.*
        FROM MEMBER m
        WHERE m.USER_ID = #{userId}
    </select>

    <insert id="insertMember" parameterType="kr.or.ddit.finalProject.dto.member.MemberDto" useGeneratedKeys="true" keyProperty="userId" keyColumn="USER_ID">
        INSERT INTO MEMBER 
            (USER_ID,
                USER_ENPSWD,
                USER_NAME,
                USER_ENRRNO,
                USER_GNDR_CD,
                USER_BRDT,
                JOIN_DT,
                USER_TELNO,
                USER_EMAIL_ADDR,
                USER_ZIP,
                USER_ADDR,
                USER_DADDR,
                REG_DATE,
                MOD_DATE,
                ENABLE,
                USER_ROLE)

        VALUES
            (#{userId},
                #{userEnpswd},
                #{userName},
                #{userEnrrno},
                #{userGndrCd},
                #{userBrdt},
                SYSTIMESTAMP,
                #{userTelno},
                #{userEmailAddr},
                #{userZip},
                #{userAddr},
                #{userDaddr},
                SYSTIMESTAMP,
                SYSTIMESTAMP,
                'Y',
                'ROLE_USER')
    </insert>

    <select id="findAllMembers" resultMap="memberTestResultMap">
        SELECT
            m.*
        FROM MEMBER m
    </select>

    <!-- isAllExistUsers (리스트의 사용자 모두가 존재하는지 확인) -->

    <select id="isAllExistUsers" parameterType="list" resultType="int">
        SELECT
            count (*)
        FROM MEMBER
        WHERE USER_ID IN
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>


    <!-- getAdminUsers -->

    <resultMap id="adminMemberResultMap" type="kr.or.ddit.finalProject.dto.member.AdminMemberDto">
        <id property="userId" column="USER_ID"/>
        <result property="userEnpswd" column="USER_ENPSWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userEnrrno" column="USER_ENRRNO"/>
        <result property="userGndrCd" column="USER_GNDR_CD"/>
        <result property="userBrdt" column="USER_BRDT"/>
        <result property="joinDt" column="JOIN_DT"/>
        <result property="userTelno" column="USER_TELNO"/>
        <result property="userEmailAddr" column="USER_EMAIL_ADDR"/>
        <result property="userZip" column="USER_ZIP"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="userDaddr" column="USER_DADDR"/>
        <result property="userProfile" column="USER_PROFILE"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="modDate" column="MOD_DATE"/>
        <result property="enable" column="ENABLE"/>
        <result property="userRole" column="USER_ROLE"/>
        <association property="employeeInfo" javaType="kr.or.ddit.finalProject.dto.employee.EmployeeInfoDto">
            <id property="userId" column="EI_USER_ID"/>
            <result property="deptCd" column="DEPT_CD"/>
            <result property="jbgrCd" column="JBGR_CD"/>
            <result property="joinYmd" column="JOIN_YMD"/>
            <result property="retmtYmd" column="RETMT_YMD"/>
            <result property="emplStatCd" column="EMPL_STAT_CD"/>
            <result property="atchFileId" column="EI_ATCH_FILE_ID"/>
            <result property="chrgDutyCn" column="CHRG_DUTY_CN"/>
            <result property="rgtrId" column="RGTR_ID"/>
            <result property="lastMdfrId" column="LAST_MDFR_ID"/>
            <result property="regDt" column="EI_REG_DT"/>
            <result property="mdfcnDt" column="EI_MDFCN_DT"/>
            <result property="deptNm" column="DEPT_NM"/>
            <result property="jbgrNm" column="JBGR_NM"/>
        </association>
    </resultMap>

    <select id="getAdminUsers" resultMap="adminMemberResultMap">
        SELECT
            m.USER_ID, m.USER_ENPSWD, m.USER_NAME, m.USER_ENRRNO,
            m.USER_GNDR_CD, m.USER_BRDT, m.JOIN_DT, m.USER_TELNO,
            m.USER_EMAIL_ADDR, m.USER_ZIP, m.USER_ADDR, m.USER_DADDR,
            m.USER_PROFILE, m.REG_DATE, m.MOD_DATE, m.ENABLE, m.USER_ROLE,
            ei.USER_ID    AS EI_USER_ID,
            ei.DEPT_CD, ei.JBGR_CD, ei.JOIN_YMD, ei.RETMT_YMD,
            ei.EMPL_STAT_CD,
            ei.ATCH_FILE_ID AS EI_ATCH_FILE_ID,
            ei.CHRG_DUTY_CN, ei.RGTR_ID, ei.LAST_MDFR_ID,
            ei.REG_DT     AS EI_REG_DT,
            ei.MDFCN_DT   AS EI_MDFCN_DT,
            d.DEPT_NM AS DEPT_NM,
            j.JBGR_NM AS JBGR_NM
        FROM member m
        INNER JOIN employee_info ei ON m.user_id = ei.user_id
        inner join department d on ei.dept_cd = d.dept_cd
        inner join job_grade j on ei.jbgr_cd = j.jbgr_cd
        WHERE m.user_role = 'ROLE_ADMIN'
        ORDER BY m.user_id
    </select>


    <!-- getAdminUserById -->

    <select id="getAdminUserById" parameterType="string" resultMap="adminMemberResultMap">
        SELECT
            m.USER_ID, m.USER_ENPSWD, m.USER_NAME, m.USER_ENRRNO,
            m.USER_GNDR_CD, m.USER_BRDT, m.JOIN_DT, m.USER_TELNO,
            m.USER_EMAIL_ADDR, m.USER_ZIP, m.USER_ADDR, m.USER_DADDR,
            m.USER_PROFILE, m.REG_DATE, m.MOD_DATE, m.ENABLE, m.USER_ROLE,
            ei.USER_ID    AS EI_USER_ID,
            ei.DEPT_CD, ei.JBGR_CD, ei.JOIN_YMD, ei.RETMT_YMD,
            ei.EMPL_STAT_CD,
            ei.ATCH_FILE_ID AS EI_ATCH_FILE_ID,
            ei.CHRG_DUTY_CN, ei.RGTR_ID, ei.LAST_MDFR_ID,
            ei.REG_DT     AS EI_REG_DT,
            ei.MDFCN_DT   AS EI_MDFCN_DT,
            d.DEPT_NM AS DEPT_NM,
            j.JBGR_NM AS JBGR_NM
        FROM member m
        INNER JOIN employee_info ei ON m.user_id = ei.user_id
        inner join department d on ei.dept_cd = d.dept_cd
        inner join job_grade j on ei.jbgr_cd = j.jbgr_cd
        WHERE m.user_role = 'ROLE_ADMIN'
        AND m.user_id = #{userId}
        ORDER BY m.user_id


    </select>

    <update id="updateMember" parameterType="kr.or.ddit.finalProject.dto.member.MemberDto">
    UPDATE MEMBER SET
        USER_TELNO      = #{userTelno, jdbcType=VARCHAR},
        USER_EMAIL_ADDR = #{userEmailAddr, jdbcType=VARCHAR},
        USER_ZIP        = #{userZip, jdbcType=VARCHAR},
        USER_ADDR       = #{userAddr, jdbcType=VARCHAR},
        USER_DADDR      = #{userDaddr, jdbcType=VARCHAR},
        MOD_DATE        = SYSTIMESTAMP
        <if test="userEnpswd != null and userEnpswd != ''">
            , USER_ENPSWD = #{userEnpswd}
        </if>
        <if test="userProfile != null and userProfile != ''">
            , USER_PROFILE = #{userProfile, jdbcType=VARCHAR}
        </if>
    WHERE USER_ID = #{userId}
    </update>


    <!-- updateUserRole -->

    <update id="updateUserRole">
        UPDATE MEMBER
        SET USER_ROLE = #{role}
        WHERE USER_ID = #{userId}   
    </update>
</mapper>
