<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.finalProject.mapper.MemberMapper">

    <!-- 
    
    private String userId; // 기본키 (PK)
    private String userEnpswd; // 암호화된 비번
    private String userName; // 사용자명
    private String userEnrrno; // AES-256 암호화 필수
    private String userGndrCd; // M:남성 F:여성 U:미확인
    private LocalDate userBrdt;
    private LocalDateTime joinDt; // 가입 시각
    private String userTelno; // (9)99-(9)999-9999 형식
    private String userEmailAddr;
    private String userZip;
    private String userAddr;
    private String userDaddr;
    private String userProfile; // 이미지 URL/경로
    private LocalDateTime regDate; // 데이터 생성 시점
    private LocalDateTime modDate; // 데이터 수정 시점
    private String enable;

    -->

    <resultMap id="memberTestResultMap" type="kr.or.ddit.finalProject.dto.member.MemberDto">
        <id property="userId" column="USER_ID"/>
        <result property="userEnpswd" column="USER_ENPSWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userEnrrno" column="USER_ENRRNO"/>
        <result property="userGndrCd" column="USER_GNDR_CD"/>
        <result property="userBrdt" column="USER_BRDT"/>
        <result property="joinDt" column="JOIN_DT"/>
        <result property="userTelno" column="USER_TELNO"/>
        <result property="userEmailAddr" column="USER_EMAIL_ADDR"/>
        <result property="userZip" column="USER_ZIP"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="userDaddr" column="USER_DADDR"/>
        <result property="userProfile" column="USER_PROFILE"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="modDate" column="MOD_DATE"/>
        <result property="enable" column="ENABLE"/>
        <result property="userRole" column="USER_ROLE"/>

    </resultMap>


    <select id="findByUserId" parameterType="string" resultMap="memberTestResultMap">
        SELECT
            m.*
        FROM MEMBER m
        WHERE m.USER_ID = #{userId}
    </select>
    <select id="findAdminByUserId" parameterType="string" resultType="kr.or.ddit.finalProject.dto.member.AdminMemberDto">
        SELECT
            m.*
        FROM MEMBER m
        WHERE m.USER_ID = #{userId}
    </select>

    <insert id="insertMember" parameterType="kr.or.ddit.finalProject.dto.member.MemberDto" useGeneratedKeys="true" keyProperty="userId" keyColumn="USER_ID">
        INSERT INTO MEMBER (USER_ID, USER_ENPSWD, USER_NAME)
        VALUES (#{userId}, #{userEnpswd}, #{userName})
    </insert>

    <select id="findAllMembers" resultMap="memberTestResultMap">
        SELECT
            m.*
        FROM MEMBER m
    </select>

    <!-- isAllExistUsers (리스트의 사용자 모두가 존재하는지 확인) -->

    <select id="isAllExistUsers" parameterType="list" resultType="int">
        SELECT
            count (*)
        FROM MEMBER
        WHERE USER_ID IN
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>


    <!-- getAdminUsers -->

    <select id="getAdminUsers" resultType="kr.or.ddit.finalProject.dto.member.MemberDto">
        select 
            m.user_id,
            m.user_name
        from member m
        where m.user_role = 'ROLE_ADMIN'
        order by m.user_id

    </select>


</mapper>
