<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.finalProject.mapper.StaffMapper">

    <select id="selectDepartmentList" resultType="kr.or.ddit.finalProject.dto.employee.DepartmentDto">
        SELECT
            DEPT_CD, PRNT_DEPT_CD, DEPT_NM, USE_YN, INTL_TEL_NO, RGTR_ID, LAST_MDFR_ID, REG_DT, MDFCN_DT
        FROM
            DEPARTMENT
    </select>      

    <select id="selectJobGradeList" resultType="kr.or.ddit.finalProject.dto.employee.JobGradeDto">
        SELECT
            JBGR_CD, JBGR_NM, SORT_ORD, USE_YN, BASE_ANN_LV_DAYS, RGTR_ID, LAST_MDFR_ID, REG_DT, MDFCN_DT, DEPT_CD
        FROM
            JOB_GRADE
        WHERE USE_YN = 'Y'
        ORDER BY SORT_ORD
    </select>

    <insert id="insertEmployee" parameterType="kr.or.ddit.finalProject.dto.member.MemberDto">
        INSERT INTO MEMBER (
            USER_ID, USER_ENPSWD, USER_NAME, USER_ENRRNO, USER_GNDR_CD, USER_BRDT, 
            JOIN_DT, USER_TELNO, USER_EMAIL_ADDR, USER_ZIP, USER_ADDR, USER_DADDR, 
            USER_PROFILE, REG_DATE, MOD_DATE, ENABLE, USER_ROLE
        ) VALUES (
            #{userId, jdbcType=VARCHAR}, 
            #{userEnpswd, jdbcType=VARCHAR}, 
            #{userName, jdbcType=VARCHAR}, 
            #{userEnrrno, jdbcType=VARCHAR}, 
            #{userGndrCd, jdbcType=CHAR}, 
            #{userBrdt, jdbcType=DATE}, 
            CURRENT_TIMESTAMP, 
            #{userTelno, jdbcType=VARCHAR}, 
            #{userEmailAddr, jdbcType=VARCHAR}, 
            #{userZip, jdbcType=VARCHAR}, 
            #{userAddr, jdbcType=VARCHAR}, 
            #{userDaddr, jdbcType=VARCHAR}, 
            #{userProfile, jdbcType=VARCHAR}, CURRENT_TIMESTAMP, 
            CURRENT_TIMESTAMP, 
            '1', 
            #{userRole, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertEmployeeInfo" parameterType="kr.or.ddit.finalProject.dto.employee.EmployeeInfoDto">
        INSERT INTO EMPLOYEE_INFO (
            USER_ID, DEPT_CD, JBGR_CD, JOIN_YMD, RETMT_YMD, EMPL_STAT_CD, 
            ATCH_FILE_ID, CHRG_DUTY_CN, RGTR_ID, LAST_MDFR_ID, REG_DT, MDFCN_DT
        ) VALUES (
            #{userId, jdbcType=VARCHAR}, 
            #{deptCd, jdbcType=CHAR}, 
            #{jbgrCd, jdbcType=CHAR}, 
            #{joinYmd, jdbcType=TIMESTAMP}, 
            #{retmtYmd, jdbcType=TIMESTAMP}, 
            #{emplStatCd, jdbcType=CHAR}, 
            #{atchFileId, jdbcType=VARCHAR}, 
            #{chrgDutyCn, jdbcType=VARCHAR}, 
            #{rgtrId, jdbcType=VARCHAR}, 
            #{lastMdfrId, jdbcType=VARCHAR}, 
            SYSTIMESTAMP, 
            SYSTIMESTAMP
        )
    </insert>

    <insert id="insertEmployeeSalary" parameterType="kr.or.ddit.finalProject.dto.employee.EmployeeSalaryDto">
        INSERT INTO EMPLOYEE_SALARY (
            USER_ID, BASE_SALARY, APPLY_YMD, USE_YN, RGTR_ID, LAST_MDFR_ID, REG_DT, MDFCN_DT
        ) VALUES (
            #{userId, jdbcType=VARCHAR}, 
            #{baseSalary, jdbcType=NUMERIC}, #{applyYmd, jdbcType=DATE},     #{useYn, jdbcType=CHAR}, 
            #{rgtrId, jdbcType=VARCHAR}, 
            #{lastMdfrId, jdbcType=VARCHAR}, 
            SYSTIMESTAMP, 
            SYSTIMESTAMP
        )
    </insert>
</mapper>