<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.finalProject.mapper.TestMapper">
    <select id="getDate" resultType="kr.or.ddit.finalProject.dto.example.ExampleDto">
        SELECT TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS exampleDate FROM DUAL
    </select>
</mapper>