<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.finalProject.mapper.UserMapper">

    <resultMap id="userResultMap" type="kr.or.ddit.finalProject.dto.user.MemberDto">
        <id property="userId" column="USER_ID"/>
        <result property="userEnpswd" column="USER_ENPSWD"/>
        <result property="userNm" column="USER_NM"/>
        <result property="userEnrrno" column="USER_ENRRNO"/>
        <result property="userGndrCd" column="USER_GNDR_CD"/>
        <result property="userBrdt" column="USER_BRDT"/>
        <result property="joinDt" column="JOIN_DT"/>
        <result property="userTelno" column="USER_TELNO"/>
        <result property="userEmlAddr" column="USER_EML_ADDR"/>
        <result property="userZip" column="USER_ZIP"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="userDaddr" column="USER_DADDR"/>
        <result property="prflImgPathNm" column="PRFL_IMG_PATH_NM"/>
        <result property="regDt" column="REG_DT"/>
        <result property="mdfcnDt" column="MDFCN_DT"/>
        <result property="userRole" column="USER_ROLE"/>
 
    </resultMap>

    <select id="existsByUserId" parameterType="string" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM MEMBER
        WHERE USER_ID = #{userId}
    </select>


    <select id="findByUserId" parameterType="string" resultMap="userResultMap">
        SELECT
            M.USER_ID, M.USER_ENPSWD, M.USER_NM, M.USER_ENRRNO, M.USER_GNDR_CD,
            M.USER_BRDT, M.JOIN_DT, M.USER_TELNO, M.USER_EML_ADDR, M.USER_ZIP,
            M.USER_ADDR, M.USER_DADDR, M.PRFL_IMG_PATH_NM, M.REG_DT, M.MDFCN_DT, M.USER_ROLE
        FROM MEMBER M
        WHERE M.USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="kr.or.ddit.finalProject.dto.user.MemberDto" useGeneratedKeys="true" keyProperty="userId" keyColumn="USER_ID">
        INSERT INTO MEMBER (USER_ID, USER_ENPSWD, USER_NM)
        VALUES (#{userId}, #{userEnpswd}, #{userNm})
    </insert>

</mapper>
