<div class="sidebar-section">
    <p class="sidebar-title text-slate-500">공통 업무</p>
    <ul class="sidebar-list">
        <li>
            <a href="/admin/messages" class="sidebar-link">
                <i class="fa-solid fa-envelope sidebar-icon"></i>
                <span class="sidebar-link-text">메시지 관리</span>
            </a>
        </li>
        <li>
            <a href="/admin/chat/room/list" class="sidebar-link">
                <i class="fa-solid fa-comments sidebar-icon"></i>
                <span class="sidebar-link-text">사내 메신저</span>
            </a>
        </li>
        <li>
            <a href="/admin/approval" class="sidebar-link">
                <i class="fa-solid fa-file-signature sidebar-icon"></i>
                <span class="sidebar-link-text">내부 전자 결재</span>
            </a>
        </li>
        <li>
            <a href="/admin/board/customer-service" class="sidebar-link">
                <i class="fa-solid fa-headset sidebar-icon"></i>
                <span class="sidebar-link-text">고객센터 관리</span>
            </a>
        </li>
        <li>
            <a href="/admin/calendar" class="sidebar-link">
                <i class="fa-solid fa-calendar-days sidebar-icon"></i>
                <span class="sidebar-link-text">통합 일정 관리</span>
            </a>
        </li>
    </ul>
</div>
