<div class="sidebar-section">
  <p class="sidebar-title text-sky-500">강사 전용 권한</p>
  <ul class="sidebar-list">
    <li>
      <a href="/instructor/learning/overview" class="sidebar-link">
        <i class="fa-solid fa-chart-line sidebar-icon"></i>
        <span class="sidebar-link-text">전체 학습 현황</span>
      </a>
    </li>
    <li>
      <a href="/instructor/journals" class="sidebar-link">
        <i class="fa-solid fa-book sidebar-icon"></i>
        <span class="sidebar-link-text">업무 일지</span>
      </a>
    </li>
    <li>
      <a href="/instructor/classroom/list" class="sidebar-link">
        <i class="fa-solid fa-chalkboard sidebar-icon"></i>
        <span class="sidebar-link-text">담당 클래스 관리</span>
      </a>
    </li>
    <li>
      <a href="/instructor/curriculum" class="sidebar-link">
        <i class="fa-solid fa-book-open-reader sidebar-icon"></i>
        <span class="sidebar-link-text">커리큘럼 관리</span>
      </a>
    </li>
    <li>
      <a href="/instructor/course/materials" class="sidebar-link">
        <i class="fa-solid fa-folder-open sidebar-icon"></i>
        <span class="sidebar-link-text">강좌 자료 관리</span>
      </a>
    </li>
    <li>
      <a href="/instructor/exams" class="sidebar-link">
        <i class="fa-solid fa-marker sidebar-icon"></i>
        <span class="sidebar-link-text">문항 / 시험 관리</span>
      </a>
    </li>
    <li>
      <a href="/instructor/ai-questions" class="sidebar-link group">
        <i
          class="fa-solid fa-wand-magic-sparkles sidebar-icon group-hover:text-sky-400"
        ></i>
        <span class="sidebar-link-text">AI 문항 생성 지원</span>
      </a>
    </li>
    <li>
      <a href="/instructor/board" class="sidebar-link">
        <i class="fa-solid fa-clipboard sidebar-icon"></i>
        <span class="sidebar-link-text">강사 게시판</span>
      </a>
    </li>
    <li>
      <a href="/instructor/profile/instructor" class="sidebar-link">
        <i class="fa-solid fa-address-card sidebar-icon"></i>
        <span class="sidebar-link-text">개인 페이지 관리</span>
      </a>
    </li>
  </ul>
</div>
